<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TauManager</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TauManager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
@if(User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.MultiSyndicate))
{
                        <li class="nav-item dropdown" id="li_syndicate_switcher">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="link_toggle_syndicate_switcher_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Loading...</a>
                            <div class="dropdown-menu" aria-labelledby="link_toggle_syndicate_switcher_dropdown" id="div_syndicate_switcher_dropdown">
                                <a class="dropdown-item" asp-controller="Users" asp-action="SetSyndicateOverride" id="a_set_default_syndicate">Default</a>
                            </div>
                        </li>
}
@if(User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Officer)
    || User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Leader)
    || User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Administrator))
{
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="link_toggle_admin_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="link_toggle_admin_dropdown">
    @if(User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.MultiSyndicate))
    {
                                <a class="dropdown-item" asp-controller="Syndicates" asp-action="UserAssignment">Player-syndicate relations</a>
    }
                                <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="link_toggle_management_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Management</a>
                            <div class="dropdown-menu" aria-labelledby="link_toggle_management_dropdown">
                                <a class="dropdown-item" asp-controller="SyndicateManagement" asp-action="Index">Overview</a>
                                <a class="dropdown-item" asp-controller="SyndicateManagement" asp-action="SkillsOverview">Skills</a>
                            </div>
                        </li>
}
@if(User.Identity.IsAuthenticated)
{
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="link_toggle_campaigns_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Campaigns</a>
                            <div class="dropdown-menu" aria-labelledby="link_toggle_campaigns_dropdown">
                                <a class="dropdown-item" asp-controller="Campaigns" asp-action="Index">Overview</a>
                                <a class="dropdown-item" asp-controller="Campaigns" asp-action="Leaderboards">Leaderboards <span class="text-danger">(new, but old)</span></a>
                                <a class="dropdown-item" asp-controller="Campaigns" asp-action="Loot">Loot items and history</a>
                                <a class="dropdown-item" asp-controller="Campaigns" asp-action="LootDistributionList">Loot Distribution List</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Market" asp-action="Index">Market</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="link_toggle_settings_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings <span class="text-danger">(new)</span></a>
                            <div class="dropdown-menu" aria-labelledby="link_toggle_settings_dropdown">
                                <a class="dropdown-item" asp-controller="Settings" asp-action="Discord">Notifications</a>
                            </div>
                        </li>
}
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2020 - TauManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Home" asp-action="Acknowledgements">Acknowledgements</a>@(User.Identity.IsAuthenticated ? Html.Raw(" - <a href=\"https://trello.com/invite/b/ERfuuUOk/4b0ea4b0e6e77d2dc68f1b9404fc8ff6/taumanager\" target=\"_blank\">Issue tracker</a>") : Html.Raw("") )</span>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
@if(User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.MultiSyndicate))
{
    <script type="text/javascript">
        $(function(){
            $.get('/Syndicates/GetAll', undefined, function(data){
                if (data.currentOverride.key == 0) { // No override, default syndicate set
                    $('#link_toggle_syndicate_switcher_dropdown').html(data.currentOverride.value + ' - ' + data.defaultSyndicate.value);
                } else {
                    $('#link_toggle_syndicate_switcher_dropdown').html(data.currentOverride.value);
                }
                $('#a_set_default_syndicate').html('default - ' + data.defaultSyndicate.value);
                Object.keys(data.allSyndicates).forEach(function(element){
                    $('#div_syndicate_switcher_dropdown').append(
                        '<a class="dropdown-item" href="/Users/SetSyndicateOverride?syndicateId=' + element + '">' + data.allSyndicates[element] + '</a>'
                    );
                })
                $('#div_syndicate_switcher_dropdown a').click(function(e) {
                    e.preventDefault();
                    var url = $(e.target).attr('href');
                    $.get(url, undefined, function(data){
                        location.reload(false);
                    });
                });
            })
        });
    </script>
}
</body>
</html>
