@model TauManager.ViewModels.LootOverviewViewModel
@{
    ViewData["Title"] = "Loot Overview";
    var userHasEditRights = 
        User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Administrator)
        || User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Leader)
        || User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Officer);
}

<div class="text-center">
    <form class="form-inline align-items-center" method="GET">
        <div class="form-group mb-2 mr-sm-2">
            <select name="itemTier" class="sel-item-tier mr-sm-2">
                <!option value="0">All Tiers</!option>
                <!option value="1"@(Model.ItemTier == 1 ? " selected" : "")>Tier 1</!option>
                <!option value="2"@(Model.ItemTier == 2 ? " selected" : "")>Tier 2</!option>
                <!option value="3"@(Model.ItemTier == 3 ? " selected" : "")>Tier 3</!option>
                <!option value="4"@(Model.ItemTier == 4 ? " selected" : "")>Tier 4</!option>
                <!option value="5"@(Model.ItemTier == 5 ? " selected" : "")>Tier 5</!option>
            </select>
            <select name="itemType" class="sel-item-type">
                @foreach (var filterKey in Model.TypeFilters.Keys) {
                    <!option value="@filterKey" @(filterKey == Model.ItemType ? " selected" : "")>@Model.TypeFilters[filterKey]</!option>
                }
            </select>
        </div>
    @foreach (var status in Model.LootStatuses.Keys)
    {
        <div class="form-check mb-2 mr-sm-2">
            <input type="checkbox" class="form-check-input" name="display" value="@status" id="cb_filter_@status"@(Model.Display.Contains(status) ? " checked": "")>
            <label for="cb_filter_@status" class="form-check-label">@Model.LootStatuses[status]</label>
        </div>
    }
        <div class="form-group mb-2 mr-sm-2">
            <input type="submit" class="btn btn-sm btn-primary form-control form-control-sm mb-2 mr-sm-2" id="btn_filter_apply" value="Apply">
        </div>
    </form>
</div>

<div class="card mb-3 text-center table-responsive">
    <div class="card-header">
        <h4>Syndicate Campaigns Loot items and history</h4>
    </div>
@if(Model.AllLoot.Count() > 0)
{
    <table class="card-body table table-condensed table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th>Campaign</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Holder/Owner</th>
                <th>Stats (P/I/E, Accuracy, Weight)</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var loot in Model.AllLoot)
        {
            <tr>
                <td><a target="_blank" asp-controller="Campaigns" asp-action="View" asp-route-id="@loot.Campaign.Id">@loot.Campaign.Name</a></td>
                <td><a target="_blank" href="@loot.Item.Url">@loot.Item.Name</a></td>
                <td>@loot.Item.Caption</td>
                <td>@loot.Status</td>
                <td>
                    @if (loot.HolderId.HasValue)
                    {
                        if (userHasEditRights) 
                        {
                            <a target="_blank" asp-controller="SyndicateManagement" asp-action="PlayerDetails" asp-route-id="@loot.Holder.Id">@loot.Holder.Name</a>
                        } else {
                            @:@loot.Holder.Name
                        }
                    } else {
                        @:-Undefined-
                    }
                </td>
                <td>
                    @if(loot.Item.Type == Item.ItemType.Weapon || 
                        loot.Item.Type == Item.ItemType.Armor)
                    {
                        <span>@loot.Item.Piercing.Value.ToString("N0")/@loot.Item.Impact.Value.ToString("N0")/@loot.Item.Energy.Value.ToString("N0"), @(loot.Item.Type == Item.ItemType.Weapon ? loot.Item.Accuracy.ToString() + ", " : "")@loot.Item.Weight kg</span>
                    } else {
                        <i>Not applicable</i>
                    }
                </td>
            </tr>            
        }
        </tbody>
    </table>
} else {
    <div class="card-body">
        <i class="text-center">None at this moment</i>
    </div>
}
</div>

@if(userHasEditRights)
{
<div class="card mb-3 text-center table-responsive">
    <div class="card-header">
        <h4>Loot available from different syndicates (officers-only)</h4>
    </div>
@if(Model.OtherSyndicatesLoot != null && Model.OtherSyndicatesLoot.Count() > 0)
{
    <table class="card-body table table-condensed table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stats (P/I/E, Accuracy, Weight)</th>
                <th>Syndicate</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var loot in Model.OtherSyndicatesLoot)
        {
            <tr>
                <td><a target="_blank" href="@loot.Item.Url">@loot.Item.Name</a></td>
                <td>@loot.Item.Caption</td>
                <td>
                    @if(loot.Item.Type == Item.ItemType.Weapon || 
                        loot.Item.Type == Item.ItemType.Armor)
                    {
                        <span>@loot.Item.Piercing.Value.ToString("N0")/@loot.Item.Impact.Value.ToString("N0")/@loot.Item.Energy.Value.ToString("N0"), @(loot.Item.Type == Item.ItemType.Weapon ? loot.Item.Accuracy.ToString() + ", " : "")@loot.Item.Weight kg</span>
                    } else {
                        <i>Not applicable</i>
                    }
                </td>
                <td>[@loot.Campaign.Syndicate.Tag]</td>
            </tr>            
        }
        </tbody>
    </table>
} else {
    <div class="card-body">
        <i class="text-center">None at this moment</i>
    </div>
}
</div>
}
