@model TauManager.ViewModels.LootDistributionListModel

@{
    ViewData["Title"] = "Loot Distribution List";
    var userHasEditRights = 
        User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Administrator)
        || User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Leader)
        || User.IsInRole(TauManager.Areas.Identity.Data.ApplicationRoleManager.Officer);
    var allCampaignIds = Model.AllCampaignLoot.Keys.OrderBy(k => k);
}

<div class="text-center">
    <h2 class="text-center">Current distribution list</h2>
</div>
<div class="text-center">
    <form id="form_filter" asp-action="SetLootDistributionListParams">
        <input type="hidden" id="hidden_includeInactive" name="includeInactive">
        <input type="hidden" id="hidden_undistributedLootOnly" name="undistributedLootOnly">
        <div class="row">
            <div class="col-auto">
                <div class="form-check mb-2 mr-sm-2">
                    <input type="checkbox" class="form-check-input" id="cb_filter_includeInactive"@(Model.IncludeInactive ? " checked": "")>
                    <label for="cb_filter_includeInactive" class="form-check-label">Include inactive players</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check mb-2 mr-sm-4">
                    <input type="checkbox" class="form-check-input" id="cb_filter_undistributedLootOnly"@(Model.UndistributedLootOnly ? " checked": "")>
                    <label for="cb_filter_undistributedLootOnly" class="form-check-label">Show undistributed loot only</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <div class="input-group mb-2 mr-sm-2">
                    <label for="cb_filter_campaign_id" class="mr-sm-1">Show campaign:</label>
                    <select class="form-control" id="cb_filter_campaign_id" name="id">
                        <!option value="0"@(Model.CampaignId.HasValue ? "" : " selected")>-- All campaigns --</!option>
                    @foreach(var campaignId in Model.AllCampaigns.Keys.OrderByDescending(k => k))
                    {
                        <!option value="@campaignId"@(Model.CampaignId.HasValue ? Model.CampaignId.Value == campaignId ? " selected" : "" : "")>@(Model.AllCampaigns[campaignId].Name) - @(Model.AllCampaigns[campaignId].Station), T@(String.Join("", Model.AllCampaigns[campaignId].TiersList)), @(Model.AllCampaigns[campaignId].Loot.Count()) epic(s)</!option>
                    }
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-sm btn-primary form-control form-control-sm mb-2 mr-sm-2" id="btn_filter_apply" value="Apply filters">
            </div>
            <div class="col-auto">
                 <a class="btn btn-sm btn-primary form-control" href="#" onclick="javascript: $('.hidden-empty-cells').toggleClass('d-none');">Toggle empty cells</a>
            </div>
        </div>
    </form>
</div>

@if(Model.CurrentOrder.Count() == 0)
{
    <div class="text-center"><i>No players in distribution list yet. Fresh setup?</i></div>
} else { var index = 1;
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered m-1">
            <thead class="text-center m-1">
                <tr>
                    <th rowspan="2">Position</th>
                    <th rowspan="2">Player</th>
                    <th rowspan="2">T</th>
                    <th rowspan="2">Active?</th>
                    <th rowspan="2">Att% T@(TauManager.Constants.MaxTier)H+</th>
                @foreach(var campaignId in allCampaignIds)
                {
                    var lootClass = Model.AllCampaignLoot[campaignId].Sum(cl => cl.Requests.Count) == 0 ? " class=\"d-none hidden-empty-cells\"" : "";
                    <th colspan="@(Model.AllCampaignLoot[campaignId].Count())"@Html.Raw(lootClass)><a href="/Campaigns/View/@campaignId" target="_blank">@(Model.AllCampaigns[campaignId].Name)</a></th>
                }
                </tr>
                <tr>
                @foreach(var campaignId in allCampaignIds)
                {
                    foreach(var campaignLoot in Model.AllCampaignLoot[campaignId])
                    {
                        var hiddenClass = "";
                        if (campaignLoot.Requests != null && campaignLoot.Requests.Count() == 0) {
                             hiddenClass = "class=\"d-none hidden-empty-cells\"";
                        }
                        <th id="th_cl_@campaignLoot.Id"@Html.Raw(hiddenClass)><a target="_blank" href="@(campaignLoot.Item.Url)">@(campaignLoot.Item.Name)</a> - @(campaignLoot.Item.LDLCaption)</th>
                    }
                }
                </tr>
            </thead>
            <tbody>
            @foreach (var player in Model.CurrentOrder)
            {
                var isCurrent = Model.CurrentPlayer != null && Model.CurrentPlayer.Id == player.Id;
                var hasRequests = isCurrent; // Always show the current player's row
                if (!hasRequests)
                {
                    foreach(var campaignId in allCampaignIds)
                    {
                        if (player.LootRequests.Any(lr =>
                            lr.Loot.CampaignId == campaignId &&
                            (!Model.UndistributedLootOnly ||
                                (lr.Status != LootRequest.LootRequestStatus.Awarded &&
                                lr.Loot.Status == CampaignLoot.CampaignLootStatus.Undistributed)
                            )
                        )) hasRequests = true;
                    }
                }
                <tr class="@((player.Active ? "" : "text-muted") + (hasRequests ? "" : " d-none hidden-empty-cells"))">
                    <th class="@(isCurrent ? "text-success" : "")">
                        @(player.Active ? "" : "(")@(index++)@(player.Active ? "" : ")")@(isCurrent ? " (you)" : "")
                    </th>
                    <th id="th_pl_@player.Id" class="@(isCurrent ? "text-success" : "")">@(player.Name)</th>
                    <th>@(player.Tier)</th>
                    
                @if(userHasEditRights)
                {
                    <th><input type="checkbox" class="cb-player-active" data-player-id="@player.Id"@(player.Active ? "checked=\"checked\"" : "")/></th>
                } else {
                    <th>@(player.Active ? "Yes" : "No")</th>
                }
                    <th>@(Model.HardT5AttendanceRate.ContainsKey(player.Id) ? Model.HardT5AttendanceRate[player.Id].ToString() : "0")%</th>
                @foreach(var campaignId in allCampaignIds)
                {
                    foreach(var campaignLoot in Model.AllCampaignLoot[campaignId])
                    { 
                        var requestStatus = -1;
                        var comment = "";
                        var isCollectorRequest = false;
                        if (Model.AllLootRequests.ContainsKey(player.Id) && Model.AllLootRequests[player.Id].ContainsKey(campaignLoot.Id))
                        {
                            requestStatus = (int)Model.AllLootRequests[player.Id][campaignLoot.Id].Status;
                            comment = Html.Encode(Model.AllLootRequests[player.Id][campaignLoot.Id].SpecialOfferDescription);
                            isCollectorRequest = Model.AllLootRequests[player.Id][campaignLoot.Id].IsCollectorRequest;
                        }
                        var cellClass = " ldl-ok";
                        if (!Model.AllCampaigns[campaignId].Attendance.Any(a => a.PlayerId == player.Id))
                        {
                            cellClass = " ldl-absent";
                        }
                        if (campaignLoot.Requests == null || campaignLoot.Requests.Count() == 0) cellClass += " d-none hidden-empty-cells";
                        var cellAttributes = String.Empty;
                        if (userHasEditRights) {
                            cellClass += " ldl-modal-trigger";
                            cellAttributes = String.Format(
                                " data-player-id=\"{0}\" data-loot-id=\"{1}\" data-status=\"{2}\" data-comment=\"{3}\"",
                                player.Id, campaignLoot.Id, requestStatus, comment);
                        }
                        <td class="text-center@(cellClass)"@Html.Raw(cellAttributes)>
                            @if (player.Tier < campaignLoot.Item.Tier - 1 && requestStatus > -1) {
                                <i class="fa fa-exclamationi>-triangle text-danger" title="Ineligible by tier!"></i>
                            }
                            @if (isCollectorRequest) {
                                <i class="fa fa-boxes"></i>
                            }
                            @if (comment == null || comment == "") 
                            {
                                <span>@(requestStatus == -1 ? "" : Model.AllLootRequests[player.Id][campaignLoot.Id].Status.ToString())</span>
                            } else {
                                <span title="@comment">@(requestStatus == -1 ? "" : Model.AllLootRequests[player.Id][campaignLoot.Id].Status.ToString())</span>
                            }
                            
                        @if(false && userHasEditRights)
                        {
                            <input type="button" class="btn btn-xs btn-display-lr-editor text-muted" data-toggle="modal" data-target="#modal_edit_lr" value="(edit)"
                                data-player-id="@player.Id" data-loot-id="@campaignLoot.Id" data-status="@requestStatus" data-comment="@comment">
                        }
                        </td>
                    }
                }
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@if(userHasEditRights)
{
    <form action="/Campaigns/AppendPlayerToDistributionListBottom" method="post">
        <input type="hidden" name="lootRequestId" value="-1">
        <div class="form-group">
            <label for="sel_id">Player:</label>
            <select name="id" id="sel_id" class="form-control">
            @foreach (var player in Model.AllPlayers)
            {
                <option value="@player.Id">@player.Name</option>
            }
            </select>
        </div>
        <div class="form-group">
            <label for="ta_comment">Comment:</label>
            <textarea name="comment" id="ta_comment" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add or move to the bottom</button>
    </form>

    <div class="modal fade" id="modal_edit_lr" tabindex="-1" role="dialog" aria-labelledby="modal_edit_lr_title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_edit_lr_title">Edit loot request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_edit_loot_request">
                        <input type="hidden" name="playerId" id="hidden_lr_player_id">
                        <input type="hidden" name="campaignLootId" id="hidden_lr_loot_id">
                        <input type="hidden" name="dropDown" id="hidden_lr_drop_down">
                        <div class="form-group">
                            <label for="select_lr_status">Request status:</label>
                            <select id="select_lr_status" class="select-loot-request-status form-control form-control-sm" class="w-100 btn btn-mini" name="status">
                                <!option value="-1">none/delete</!option>
                                <!option value="@((int)LootRequest.LootRequestStatus.Interested)">Interested</!option>
                                <!option value="@((int)LootRequest.LootRequestStatus.Awarded)">Awarded</!option>
                                <!option value="@((int)LootRequest.LootRequestStatus.SpecialOffer)">Special Offer</!option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ta_special_request_comments">Special offer:</label>
                            <textarea id="ta_special_request_comments" class="form-control form-control-sm w-100" name="comments"></textarea>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="cb_drop_player_loot_request" class="form-check-input">
                            <label for="cb_drop_player_loot_request" class="form-check-label">Drop player down?</label>
                        </div>
                        <div class="form-group">
                            <label for="select_loot_status">New loot status:</label>
                            <select id="select_loot_status" class="select-loot-status form-control form-control-sm" class="w-100 btn btn-mini" name="lootStatus">
                                <!option value="-1" selected)>-no change-</!option>
                            @foreach (var status in Model.LootStatuses.Keys)
                            {
                                <!option value="@status">@(Model.LootStatuses[status])</!option>
                            }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="modal_edit_lr_submit">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @if(userHasEditRights)
    {
        <script type="text/javascript">
            $('#modal_edit_lr_submit').click(function(evt){
                var form = $('#form_edit_loot_request');
                form.find('#hidden_lr_drop_down').val(form.find('#cb_drop_player_loot_request').prop('checked'));
                var data = form.serialize();
                $.ajax({
                    url: '/Campaigns/SetLootRequestStatus',
                    data: data,
                    cache: false,
                    type: 'POST',
                    success: function(data, textStatus, jqXHR){
                        $('#modal_edit_lr').modal('hide');
                        location.reload(true);
                    },
                    error: function(jqXHR, textStatus, errorThrown){

                    }
                });
            });
            $('.ldl-modal-trigger').click(function(evt){
                let elem = $(evt.target);
                if (!elem.hasClass('ldl-modal-trigger')) {
                    elem = elem.parent('.ldl-modal-trigger');
                }
                var modal = $("#modal_edit_lr");
                modal.find('.modal-title').text(
                    $('#th_pl_' + elem.data('player-id')).text() + ' for ' +
                    $('#th_cl_' + elem.data('loot-id')).text());
                modal.find('#select_lr_status').val(elem.data('status'));
                modal.find('#ta_special_request_comments').val(elem.data('comment'));
                modal.find('#hidden_lr_player_id').val(elem.data('player-id'));
                modal.find('#hidden_lr_loot_id').val(elem.data('loot-id'));
                modal.modal(); // Chicken chicken chicken. Chicken? Chicken!
            });
            $(function() {
                configureControlPostback('.cb-player-active', '/SyndicateManagement/SetPlayerActive',
                    {
                        playerId: 'player-id',
                        status: '#checked'
                    }
                );
            });
        </script>
    }
    <script type="text/javascript">
        $('#form_filter').submit(function(evt){
            evt.preventDefault();
            
            var form = $(this);
            var url = form.attr('action');

            $('#hidden_includeInactive').val($('#cb_filter_includeInactive').prop('checked'));
            $('#hidden_undistributedLootOnly').val($('#cb_filter_undistributedLootOnly').prop('checked'));

            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),
                success: function(data){
                    location.reload(true);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('Error setting filters: textStatus="' + textStatus + '", errorThrown="' + errorThrown + '"');
                }
            });
        })
    </script>
}